.item {
  margin: 0;
  padding: 0;
  background-color: #fafbfb;
  border: 1px solid #ece9e9;
}
.item td {
  border: 1px solid #ece9e9;
  padding: 10px;
  color: #403b5a;
}
.item img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  vertical-align: middle;
}
.name {
  margin: 10px;
}
